.CellGrid {
    background-color: #000;
    background-image: linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);
    display: grid;
    grid-gap: 1;
    margin: 0 auto;
    position: relative;
}
